.subMenu{ 
    background-color: "#e6f7ff";
    border-right: "1px solid #1890ff";
    margin-bottom: "5px";
    height: "30px";
    line-height: "30px";
}

.menuItem{
    list-style: none;
    background-color: '#e6f7ff';
    border-right: "1px solid #1890ff";
    margin-bottom:"5px";
    height:"30px";
	line-height:"30px";
}
